.profile-card {
  outline: 2px solid #000;
  border-radius: 3%;
  width: 28.125rem;
  background: #eee8e8;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.profile-card_image {
  border-radius: 10%;
}

.profile-card_bio {
  line-height: 1.5;
}
